<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/homepagedata1.css" type="text/css" rel="stylesheet"/>
    <link href="static/homepage1.css" type="text/css" rel="stylesheet"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/home_page/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default flow_shape">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default flow_shape">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text ">
          <p><span>Home</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="/caloriecounter">
      <div id="u2" class="ax_default flow_shape">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
          <p><span>Calorie Counter</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="/rewards">
      <div id="u3" class="ax_default flow_shape">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text ">
          <p><span>Rewards</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="/forum">
      <div id="u4" class="ax_default flow_shape">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>Community</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="/recommendedexcercise">
      <div id="u5" class="ax_default flow_shape">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text ">
          <p><span>Recommended Exercises &amp; Recipes</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="personaltrainer">
      <div id="u6" class="ax_default flow_shape">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text ">
          <p><span>Personal Trainer</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="fooddiary">
      <div id="u7" class="ax_default flow_shape">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p><span>Food Diary</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Image) -->
      <div id="u8" class="ax_default image">
        <img id="u8_img" class="img " src="static/u8.png/">
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u9" class="ax_default" data-left="843" data-top="318" data-width="13" data-height="577">


        <!-- Unnamed (Rectangle) -->
      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default flow_shape">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text ">
          <p><span>Home</span></p>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u13" class="ax_default ellipse">
        <img id="u13_img" class="img " src="static/u13.svg/">
        <div id="u13_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Ellipse) -->
      <div id="u14" class="ax_default ellipse">
        <img id="u14_img" class="img " src="static/u14.svg/">
        <div id="u14_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <a href="/">
      <div id="u15" class="ax_default image">
        <img id="u15_img" class="img " src="static/u15.png/">
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default flow_shape">
        <img id="u16_img" class="img " src="static/u16.svg/">
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div class="meter">
        <span style="width: {{ weightpercent }}%"></span>
      </div>
      
      <!-- Unnamed (Rectangle) -->
        <div id="u20" class="ax_default label">
          <div id="u20_div" class=""></div>
          <div id="u20_text" class="text ">
            <p><span>&nbsp;&nbsp;&nbsp; You are {{ weightleft }}kgs away from your goal weight &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p>
          </div>
        </div>
         
      <!-- Unnamed (Rectangle) -->
      <div id="u23" class="ax_default flow_shape">
        <img id="u23_img" class="img " src="static/u23.svg/">
        <div id="u23_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u24" class="ax_default" data-left="554" data-top="531" data-width="263" data-height="151">

        <!-- Unnamed (Image) -->
        <div id="u25" class="ax_default image">
          <img id="u25_img" class="img " src="static/jogging.png/">
          <div id="u25_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>


        <!-- Unnamed (Rectangle) -->
        <div id="u28" class="ax_default label">
          <div id="u28_div" class=""></div>
          <div id="u28_text" class="text ">
            <p style="font-size:12px;"><span>Next Scheduled Exercise </span>
          </div>
        </div>

      <div id="u30" class="ax_default flow_shape">
        <div id="u30_div" class=""></div>
        <div id="u30_text" class="text ">
          <p><span>Done</span></p>
        </div>
      </div>


      

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default flow_shape">
        <img id="u31_img" class="img " src="static/u23.svg/"/>
        <div id="u31_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div class="meter1">
        <span style="width: 50%"></span>
      </div>
       <!-- Unnamed (Rectangle) -->
        <div id="u36" class="ax_default label">
          <div id="u36_div" class=""></div>
          <div id="u36_text" class="text ">
            <p><span>You have {{ waterleft }} glasses of left to drink </span></p>
          </div>
        </div>

         <div id="updatewater" onclick="updateWater()" class="ax_default flow_shape">
        <div id="updatewater_div" class=""></div>
        <div id="updatewater_text" class="text ">
          <p><span>Update</span></p>
        </div>
      </div>

      <script>
        function updateWater(){
            var Water= document.getElementById("waterinput_input").value;
            var data = { wat: Water};
            $.post( "/homepage", {javascript_data: JSON.stringify(data)});
            var Water= document.getElementById("waterinput_input").value = "";
        }

      </script>
       
       
      

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default flow_shape">
        <img id="u38_img" class="img " src="static/u23.svg/">
        <div id="u38_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u39" class="ax_default" data-left="562" data-top="744" data-width="255" data-height="141">

        <!-- Unnamed (Image) -->
        <div id="u40" class="ax_default image">
          <img id="u40_img" class="img " src="static/eating.png/">
          <div id="u40_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>


        <!-- Unnamed (Rectangle) -->
        <div id="u42" class="ax_default label">
          <div id="u42_div" class=""></div>
          <div id="u42_text" class="text ">
            <p style="font-size:12px";><span>Next Scheduled Meal</span>
          </div>
        </div>

        <div id="u43" class="ax_default flow_shape">
        <div id="u43_div" class=""></div>
        <div id="u43_text" class="text ">
          <p><span>Done</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u44" class="ax_default flow_shape">
        <img id="u44_img" class="img " src="static/u23.svg/">
        <div id="u44_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      
      

      <script>
        function updateCal(){
            var Calories= document.getElementById("calinput_input").value;
            var data = {cal: Calories};
            $.post( "/homepage", {javascript_data: JSON.stringify(data)});
            var Cal= document.getElementById("calinput_input").value = "";
        }
      </script>
       

      <!-- Unnamed (Group) -->
      <div class="meter2">
        <span style="width: 25%"></span>
      </div>
       <!-- Unnamed (Rectangle) -->
        <div id="u48" class="ax_default label">
          <div id="u48_div" class=""></div>
          <div id="u48_text" class="text ">
            <p><span>You have yet to eat all your calories </span></p>
          </div> 
        </div>

         <div id="weight" class="ax_default label">
          <div id="weight_div" class=""></div>
          <div id="weight_text" class="text ">
            <p style="font-size:12px";>{{ currweight }} kg</p>
          </div>
        </div>
        

        <div id="goal" class="ax_default label">
          <div id="goal_div" class=""></div>
          <div id="goal_text" class="text ">
            <p style="font-size:12px";>{{ goalweight }} kg</p>
          </div>
        </div>

         <!-- Unnamed (Text Field) -->
      <div id="waterinput" class="ax_default text_field">
        <div id="waterinput_div" class=""></div>
        <input id="waterinput_input" type="text" value="&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; " class="waterinput_input"/>
      </div>



        <div id="timer1" class="ax_default label">
          <div id="timer1_div" class=""></div>
          <div id="timer1_text" class="text ">
            <p style="Roboto" id="timer1"></p>
          </div>
        </div>

        <div id="timer2" class="ax_default label">
          <div id="timer2_div" class=""></div>
          <div id="timer2_text" class="text ">
            <p style="Roboto" id="timer2"></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
      <div id="weightinput" class="ax_default text_field">
        <div id="weightinput_div" class=""></div>
        <input id="weightinput_input" type="text" value="&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;" class="weightinput_input"/>
      </div>


       <div id="updateweight" onclick="updateWeight()" class="ax_default flow_shape">
        <div id="updateweight_div" class=""></div>
        <div id="updateweight_text" class="text ">
          <p><span>Update Todays Weight</span></p>
        </div>
      </div>  

      <script>
        function updateWeight(){
            var Weight= document.getElementById("weightinput_input").value;
            var data = { w: Weight};
            $.post( "/homepage", {javascript_data: JSON.stringify(data)});
            var Weight= document.getElementById("weightinput_input").value = "";
        }

      </script>
       
        
<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 4)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="timer1"
  document.getElementById("timer1").innerHTML = hours + "h:" + minutes + "m:" + seconds + "s";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer1").innerHTML = "GO EXERCISE";
  }
}, 1000);
      
</script>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 6)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="timer2"
  document.getElementById("timer2").innerHTML = hours + "h:" + minutes + "m:" + seconds + "s";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer2").innerHTML = "GO EXERCISE";
  }
}, 1000);
</script>

            
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>

