<!DOCTYPE html>
<html>
  <head>
    <title>Recommended Recipes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="static/recipedata.css" type="text/css" rel="stylesheet"/>
    <link href="static/recipe.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/recommended_recipes/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u388" class="ax_default flow_shape">
        <div id="u388_div" class=""></div>
        <div id="u388_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="/homepage">
      <div id="u389" class="ax_default flow_shape">
        <div id="u389_div" class=""></div>
        <div id="u389_text" class="text ">
          <p><span>Home</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="/caloriecounter">
      <div id="u390" class="ax_default flow_shape">
        <div id="u390_div" class=""></div>
        <div id="u390_text" class="text ">
          <p><span>Calorie Counter</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="/rewards">
      <div id="u391" class="ax_default flow_shape">
        <div id="u391_div" class=""></div>
        <div id="u391_text" class="text ">
          <p><span>Rewards</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
       <a href="/forum">
      <div id="u392" class="ax_default flow_shape">
        <div id="u392_div" class=""></div>
        <div id="u392_text" class="text ">
          <p><span>Community</span></p>
        </div>
      </div>
      </a>
      
      <!-- Unnamed (Rectangle) -->
      <div id="u393" class="ax_default flow_shape">
        <div id="u393_div" class=""></div>
        <div id="u393_text" class="text ">
          <p><span>Recommended Excercises &amp; Recipes</span></p>
        </div>
      </div>
    

      <!-- Unnamed (Rectangle) -->
      <a href="/personaltrainer">  
      <div id="u394" class="ax_default flow_shape">
        <div id="u394_div" class=""></div>
        <div id="u394_text" class="text ">
          <p><span>Personal Trainer</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <a href="/fooddiary">
      <div id="u395" class="ax_default flow_shape">
        <div id="u395_div" class=""></div>
        <div id="u395_text" class="text ">
          <p><span>Food Diary</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Image) -->
      <div id="u396" class="ax_default image">
        <img id="u396_img" class="img " src="static/u58.png/">
        <div id="u396_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u397" class="ax_default label">
        <div id="u397_div" class=""></div>
        <div id="u397_text" class="text ">
          <p><span>Recommended </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u398" class="ax_default label">
        <div id="u398_div" class=""></div>
        <div id="u398_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u399" class="ax_default box_1">
        <div id="u399_div" class=""></div>
        <div id="u399_text" class="text ">
          <p><span>Exercises</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u400" class="ax_default box_1">
        <div id="u400_div" class=""></div>
        <div id="u400_text" class="text ">
          <p><span>Recipes</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u401" class="ax_default box_1">
        <div id="u401_div" class=""></div>
        <div id="u401_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u402" class="ax_default box_1">
        <div id="u402_div" class=""></div>
        <div id="u402_text" class="text ">
          <p><span>Recipes</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <a href="recommendedexcercise">
      <div id="u403" class="ax_default box_1">
        <div id="u403_div" class=""></div>
        <div id="u403_text" class="text ">
          <p><span>Exercises</span></p>
        </div>
      </div>
      </a>

      <!-- Unnamed (Rectangle) -->
      <div id="u404" class="ax_default box_1">
        <div id="u404_div" class=""></div>
        <div id="u404_text" class="text ">
          <p><span>Exercises</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u405" class="ax_default box_1">
        <div id="u405_div" class=""></div>
        <div id="u405_text" class="text ">
          <p><span>Recipes</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u406" class="ax_default image">
        <img id="u406_img" class="img " src="static/u406.svg/">
        <div id="u406_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u407" class="ax_default label">
        <div id="u407_div" class=""></div>
        <div id="u407_text" class="text ">
          <p><span>Salad</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u408" class="ax_default paragraph">
        <div id="u408_div" class=""></div>
        <div id="u408_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u409" class="ax_default box_1">
        <div id="u409_div" class=""></div>
        <div id="u409_text" class="text ">
          <p><span>Add to food diary</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u410" class="ax_default image">
        <img id="u410_img" class="img " src="static/u410.svg/">
        <div id="u410_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u411" class="ax_default label">
        <div id="u411_div" class=""></div>
        <div id="u411_text" class="text ">
          <p><span>Pan Fried Drumsticks</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u412" class="ax_default paragraph">
        <div id="u412_div" class=""></div>
        <div id="u412_text" class="text ">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u413" class="ax_default box_1">
        <div id="u413_div" class=""></div>
        <div id="u413_text" class="text ">
          <p><span>Add to food diary</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u414" class="ax_default" data-left="707" data-top="54" data-width="123" data-height="34">

        <!-- Unnamed (Group) -->
        <div id="u415" class="ax_default" data-left="707" data-top="54" data-width="123" data-height="34">

          <!-- Unnamed (Group) -->
          <div id="u416" class="ax_default" data-left="707" data-top="57" data-width="79" data-height="31">

            <!-- Unnamed (Image) -->
            <div id="u417" class="ax_default image">
              <img id="u417_img" class="img " src="static/u97.png/">
              <div id="u417_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u418" class="ax_default icon">
              <img id="u418_img" class="img " src="static/u98.svg/">
              <div id="u418_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u419" class="ax_default" data-left="799" data-top="54" data-width="31" data-height="32">

            <!-- Unnamed (Shape) -->
            <a href="/">
            <div id="u420" class="ax_default icon">
              <img id="u420_img" class="img " src="static/u100.svg/">
              <div id="u420_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
            </a>

            <!-- Unnamed (Rectangle) -->
            <div id="u421" class="ax_default paragraph">
              <div id="u421_div" class=""></div>
              <div id="u421_text" class="text ">
                <p><span>[</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
