body {
  margin:0px;
  background-color:rgba(92, 176, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:6px;
  border-style:solid;
  border-color:rgba(254, 254, 254, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:31px;
  width:850px;
  height:950px;
  display:flex;
  color:#F2F2F2;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008793;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:458px;
  width:1px;
  height:29px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008793;
}
#u900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:234px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:46px;
  width:322px;
  height:234px;
  display:flex;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:337px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:274px;
  width:712px;
  height:337px;
  display:flex;
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:27px;
  color:#5CB099;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:611px;
  width:405px;
  height:10px;
  display:flex;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#5CB099;
}
#u903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:39px;
  background:inherit;
  background-color:rgba(92, 176, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:840px;
  width:148px;
  height:39px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
