body {
  margin:0px;
  background-color:rgba(92, 176, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:805px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:6px;
  border-style:solid;
  border-color:rgba(92, 176, 153, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:850px;
  height:805px;
  display:flex;
  color:#F2F2F2;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008793;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:428px;
  width:1px;
  height:29px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#008793;
}
#u1292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
  background:inherit;
  background-color:rgba(222, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 234, 234, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#008793;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:591px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#008793;
}

#u1293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:39px;
  background:inherit;
  background-color:rgba(161, 204, 185, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:591px;
  width:138px;
  height:39px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u1294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Italic', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#A1CCB9;
}

#u1295 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:559px;
  width:111px;
  height:16px;
  display:flex;
  font-family:'Roboto Italic', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#A1CCB9;
}
#u1295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1295_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
   font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:440px;
  width:195px;
  height:16px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1296_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:234px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:184px;
  width:322px;
  height:234px;
  display:flex;
}
#u1297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:210px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:533px;
  width:210px;
  height:210px;
  display:flex;
}
#u1298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:217px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:144px;
  width:216px;
  height:217px;
  display:flex;
}
#u1299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#5CB099;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1300_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#5CB099;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(222, 233, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 233, 237, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CB099;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:469px;
  width:296px;
  height:32px;
  display:flex;
  color:#5CB099;
}
#u1300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1300_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 233, 237, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CB099;
}
#u1300.disabled {
}
#u1301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#5CB099;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1301_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#5CB099;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(222, 233, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 233, 237, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CB099;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:513px;
  width:296px;
  height:32px;
  display:flex;
  color:#5CB099;
}
#u1301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1301_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(222, 233, 237, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CB099;
}
#u1301.disabled {
}
